* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#a1c4fd), to(#c2e9fb));
  background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.element-card {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border: 2px solid #e0e0d1;
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 18px;
  cursor: pointer;
}

.element-card.open {
  width: 200px;
  height: 200px;
  -webkit-transform: rotatey(-180deg) translatex(0px) translatey(0px);
          transform: rotatey(-180deg) translatex(0px) translatey(0px);
}

.element-card .front-facing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  -webkit-transform: rotateY(0deg) translateZ(2px);
          transform: rotateY(0deg) translateZ(2px);
  padding-top: 10px;
  overflow: hidden;
  text-align: center;
}

.element-card .front-facing img {
  width: 70%;
  height: 70%;
}

.element-card .front-facing p {
  width: 80%;
  padding-top: 20px;
  text-align: center;
}

.element-card .back-facing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateY(180deg) translateZ(0px);
          transform: rotateY(180deg) translateZ(0px);
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.element-card .back-facing .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.element-card .back-facing .answer .title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4em;
}

.element-card .back-facing .answer .sub-title {
  color: #7d97ad;
  padding-bottom: 20px;
  font-weight: 600;
}

.element-card .back-facing button {
  width: 100px;
  height: 40px;
}

.btn-hover {
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color {
  background-image: -webkit-gradient(linear, left top, right top, from(#667eea), color-stop(#764ba2), color-stop(#6b8dd6), to(#8e37d7));
  background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
  -webkit-box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
          box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
/*# sourceMappingURL=style.css.map */