$width-front-face: 250px;
$height-front-face: 300px;
$width-back-face: 200px;
$height-back-face: 200px;
@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
  flex-flow: row wrap;
}

.element-card {
  position: relative;
  width: $width-front-face;
  height: $height-front-face;
  margin: 20px;
  transform-style: preserve-3d;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border: 2px solid #e0e0d1;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 18px;
  cursor: pointer;
  &.open {
    width: $width-back-face;
    height: $height-back-face;
    transform: rotatey(-180deg) translatex(0px) translatey(0px);
  }
  .front-facing {
    @include flex-column();
    position: absolute;
    height: 100%;
    transform: rotateY(0deg) translateZ(2px);
    padding-top: 10px;
    overflow: hidden;
    text-align: center;
    img {
      width: 70%;
      height: 70%;
    }
    p {
      width: 80%;
      padding-top: 20px;
      text-align: center;
    }
  }
  .back-facing {
    @include flex-column();
    transform: rotateY(180deg) translateZ(0px);
    height: 100%;
    justify-content: center;
    .answer {
      @include flex-column();
      margin: 0;
      .title {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.4em;
      }
      .sub-title {
        color: #7d97ad;
        padding-bottom: 20px;
        font-weight: 600;
      }
    }
    button {
      width: 100px;
      height: 40px;
    }
  }
}

.btn-hover {
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color {
  background-image: linear-gradient( to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}